.container-fluid{
    padding: 0;
}
form{
    margin: 5px;
}
.card{
    margin-bottom: 15px;
}
@media (min-width: 576px) {
  .article-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
  .article-columns .card {
    display: inline-block;
    width: 100%;
  }
}
nav{
    background-color: #003366;
}
nav a{
    color: #ffffff;
}
.heading{
    background-color: #98C1D9;
    color: #003366;
    padding: 20px;
    margin: 10px;
}
h2{
    text-transform: uppercase;
}
footer{
    background-color: #003366;
    color: #eeeeee;
    text-align: center;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
}
.content{
    padding: 20px;
}